<a href="https://colab.research.google.com/github/adhang/data-science-digital-skola/blob/update/06.%20Introduction%20to%20Pandas/Learn%20-%20Introduction%20to%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas
Author: Adhang Muntaha Muhammad

[![LinkedIn](https://img.shields.io/badge/linkedin-0077B5?style=for-the-badge&logo=linkedin&logoColor=white&link=https://www.linkedin.com/in/adhangmuntaha/)](https://www.linkedin.com/in/adhangmuntaha/)
[![GitHub](https://img.shields.io/badge/github-121011?style=for-the-badge&logo=github&logoColor=white&link=https://github.com/adhang)](https://github.com/adhang)
[![Kaggle](https://img.shields.io/badge/kaggle-20BEFF?style=for-the-badge&logo=kaggle&logoColor=white&link=https://www.kaggle.com/adhang)](https://www.kaggle.com/adhang)
[![Tableau](https://img.shields.io/badge/tableau-E97627?style=for-the-badge&logo=tableau&logoColor=white&link=https://public.tableau.com/app/profile/adhang)](https://public.tableau.com/app/profile/adhang)
___
**Contents**
- Creating Dataframe
  - Using List
  - Using Tuple
  - Using Numpy Array
  - Using Pandas Series
- Reading Dataset on Google Colab
  - Upload file to Google Colab
  - From Google Drive
- Reading Dataset on Local Directory
  - CSV format
  - Ms Excel format

# Creating Dataframe

In [ ]:
# Import Pandas library
import pandas as pd

pd.__version__

'1.3.5'

## Using List

In [ ]:
# Create list
list_name = ['Adhang', 'Muntaha', 'Muhammad']
list_age = [23, 24, 25]
list_city = ['Jogja', 'Jakarta', 'Palembang']

# Combine using zip function
list_zip = list(zip(list_name, list_age, list_city))
list_zip

[('Adhang', 23, 'Jogja'),
 ('Muntaha', 24, 'Jakarta'),
 ('Muhammad', 25, 'Palembang')]

In [ ]:
# Create dataframe
df_list = pd.DataFrame(list_zip,
                       columns=['Name', 'Age', 'City'])
df_list

       Name  Age       City
0    Adhang   23      Jogja
1   Muntaha   24    Jakarta
2  Muhammad   25  Palembang

In [ ]:
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

## Using Tuple

In [ ]:
# Create tuple (with zipped format)
tuple_1 = ('Adhang', 23, 'Jogja')
tuple_2 = ('Muntaha', 24, 'Jakarta')
tuple_3 = ('Muhammad', 25, 'Palembang')

In [ ]:
# Create dataframe
df_tuple = pd.DataFrame([tuple_1,
                         tuple_2,
                         tuple_3],
                        columns=['Name', 'Age', 'City'])
df_tuple

       Name  Age       City
0    Adhang   23      Jogja
1   Muntaha   24    Jakarta
2  Muhammad   25  Palembang

In [ ]:
df_tuple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

## Using Numpy Array

In [ ]:
import numpy as np

# Create numpy array
arr = np.array([['Adhang', 23, 'Jogja'],
                ['Muntaha', 24, 'Jakarta'],
                ['Muhammad', 25, 'Palembang']])
arr

array([['Adhang', '23', 'Jogja'],
       ['Muntaha', '24', 'Jakarta'],
       ['Muhammad', '25', 'Palembang']], dtype='<U9')

In [ ]:
# Create dataframe
df_array = pd.DataFrame(arr, columns=['Name', 'Age', 'City'])
df_array

       Name Age       City
0    Adhang  23      Jogja
1   Muntaha  24    Jakarta
2  Muhammad  25  Palembang

In [ ]:
df_array.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      object
 2   City    3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

## Using Pandas Series
**Note:**
Pandas Series items must have same data type

In [ ]:
# Create pandas series
series_1 = pd.Series(['Adhang', 'Muntaha', 'Muhammad'])
series_2 = pd.Series([23, 24, 25])
series_3 = pd.Series(['Jogja', 'Jakarta', 'Palembang'])

In [ ]:
# Create dataframe
df_series = pd.DataFrame({'Name':series_1,
                          'Age':series_2,
                          'City':series_3})
df_series

       Name  Age       City
0    Adhang   23      Jogja
1   Muntaha   24    Jakarta
2  Muhammad   25  Palembang

In [ ]:
df_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

# Reading Dataset on Google Colab
Some ways to add dataset on Google Colab:
- Upload file to Google Colab
- From Google Drive
- From BigQuery
- From GitHub

## Upload file to Google Colab

In [ ]:
from google.colab import files

In [ ]:
files.upload()

# See the uploaded file on the file list panel (left)

In [ ]:
read_colab = pd.read_csv('bq-results-20220127-145129-lengkap provinsi.csv')
read_colab.head()

         date location_key  ... cumulative_persons_fully_vaccinated population
0  2022-01-26        ID_AC  ...                                 NaN    5371532
1  2022-01-26        ID_KI  ...                                 NaN    3721389
2  2022-01-26        ID_MA  ...                                 NaN    1802870
3  2022-01-26        ID_PB  ...                                 NaN     959617
4  2022-01-26        ID_SS  ...                                 NaN    8470683

[5 rows x 18 columns]

## From Google Drive

In [ ]:
from google.colab import drive

# mount drive, grant the permmission to access files from google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
read_gdrive = pd.read_csv('/content/drive/MyDrive/BigQuery - Covid19 Open Data/bq-results-20220127-145129-covid open data/bq-results-20220127-145129-otb5etd75lr.csv')
read_gdrive.head()

         date location_key  ... cumulative_persons_fully_vaccinated population
0  2022-01-26        ID_AC  ...                                 NaN    5371532
1  2022-01-26        ID_KI  ...                                 NaN    3721389
2  2022-01-26        ID_MA  ...                                 NaN    1802870
3  2022-01-26        ID_PB  ...                                 NaN     959617
4  2022-01-26        ID_SS  ...                                 NaN    8470683

[5 rows x 18 columns]

# Reading Dataset on Local
File format:
- CSV
- Ms Excel
- JSON
- XML
- etc

More reference:
[Pandas I/O Tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

**Notes**: Since the scripts on the next 2 cells are run on Jupyter Notebook, the dataset can't be displayed.

Alternatively, if you use Google Colab, try to upload the file to Google Colab or Google Drive.

## CSV Format

In [ ]:
read_csv = pd.read_csv('/dataset/BiqQuery Covid Open Data - Indonesia.csv')
read_csv.head()

## Ms Excel Format

In [ ]:
read_excel = pd.read_excel('/dataset/BiqQuery Covid Open Data - Indonesia.xls', sheet_name='raw_data')
read_excel.head()