<a href="https://colab.research.google.com/github/adhang/data-science-digitalskola/blob/update/04.%20Python%20Basic%20Programming/Learn_Python_Basic_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Programming
Author: Adhang Muntaha Muhammad

[GitHub](https://github.com/adhang)
[LinkedIn](https://www.linkedin.com/in/adhangmuntaha/)
___
**Contents**
- Data Types
  - Integer
  - Float
  - String
  - List
  - Tuple
  - Set
  - Dictionary
- Conditions
- Looping
- Functions

## Data Types

### Integer
- Used to store numeric value, without a decimal point

In [1]:
my_int = 25
my_int

25

In [2]:
# convert to int
my_int = int(25.5)
my_int

25

In [5]:
type(my_int)

int

### Float
- Used to store numeric value that has a deicmal place

In [3]:
my_float = 25.5
my_float

25.5

In [6]:
# convert to float
my_float = float(25)
my_float

25.0

In [7]:
type(my_float)

float

### String
- Used to store text data
- Define string value with single quote ('...') or double quote ("...")

In [8]:
my_str = 'String with single quote'
my_str

'String with single quote'

In [9]:
my_str = "String with double quote"
my_str

'String with double quote'

- If the text is too long, we can use backslash (\\) to continue on new line

In [14]:
my_str = 'String string string string string \
with with with with with \
backslash backslash backslash backslash backslash'

my_str

'String string string string string with with with with with backslash backslash backslash backslash backslash'

In [17]:
# concatenate using +
str_1 = 'String'
str_2 = 'concatenate'

str_3 = str_1 + ' ' + str_2
str_3

'String concatenate'

### List
- Used to store multiple value
- Mutable, we can change list's element
- We can access list's element using index (start from 0)
- List can contain multiple data type

In [18]:
# creating blank list
my_list = []
my_list

[]

In [19]:
# creating blank list
my_list = list()
my_list

[]

In [21]:
# list with value
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [22]:
type(my_list)

list

In [23]:
# elements with different data type
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list

['Adhang', 24, 'Jogja', 8.7]

In [24]:
# access first element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[0]

'Adhang'

In [27]:
# access last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1]

8.7

In [28]:
# change the last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1] = 7.8
my_list

['Adhang', 24, 'Jogja', 7.8]

#### List Methods
- `append()`: Adds an element at the end of the list
- `clear()`: Removes all the elements from the list
- `copy()`: Returns a copy of the list
- `count()`:	Returns the number of elements with the specified value
- `extend()`:	Add the elements of a list (or any iterable), to the end of the current list
- `index()`:	Returns the index of the first element with the specified value
- `insert()`:	Adds an element at the specified position
- `pop()`:	Removes the element at the specified position
- `remove()`:	Removes the item with the specified value
- `reverse()`:	Reverses the order of the list
- `sort()`:	Sorts the list

[List Methods Reference](https://www.w3schools.com/python/python_lists_methods.asp)

In [40]:
# add list's element
my_list = [1, 2]
my_list.append(3)
my_list.append(4)
my_list

[1, 2, 3, 4]

In [42]:
# clear list's element
my_list = [1, 2, 3, 4]
my_list.clear()
my_list

[]

### Tuple
- Used to store multiple value
- Immutable, we can't change tuple's element
- We can access tuple's element using index (start from 0)
- Tuple can contain multiple data type

In [39]:
# creating blank tuple
my_tuple = ()
my_tuple

()

In [31]:
# creating blank tuple
my_tuple = tuple()
my_tuple

()

In [32]:
# tuple with value
my_tuple = (1, 2, 3, 4)
my_tuple

(1, 2, 3, 4)

In [33]:
type(my_tuple)

tuple

In [34]:
# elements with different data type
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple

('Adhang', 24, 'Jogja', 8.7)

In [35]:
# access first element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[0]

'Adhang'

In [36]:
# access last element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1]

8.7

In [37]:
# changing list's element will cause error
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1] = 7.8
my_tuple

TypeError: ignored

#### Tuple Methods

- `count()`:	Returns the number of times a specified value occurs in a tuple
- `index()`:	Searches the tuple for a specified value and returns the position of where it was found

[Tuple Methods Reference](https://www.w3schools.com/python/python_tuples_methods.asp)

In [45]:
# count specified item in tuple
my_tuple = (1, 2, 3, 1, 1, 2)
my_tuple.count(1)

3

### Set
- Used to store multiple value, but with distinct value (unique)
- Immutable, we can't change set's element. But, we can add new item to set or remove item from set
- Unordered, so we can't access set's element using index
- Set can contain multiple data type

In [46]:
# creating blank set
my_set = set()
my_set

set()

In [47]:
# set with value
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [50]:
# set with value
my_set = set([1, 2, 3, 4])
my_set

{1, 2, 3, 4}

In [51]:
type(my_set)

set

In [53]:
# elements with different data type
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set
# the result order is not the same as the definition order

{24, 8.7, 'Adhang', 'Jogja'}

#### Set Methods
- `add()`	Adds an element to the set
- `clear()`	Removes all the elements from the set
- `copy()`	Returns a copy of the set
- `difference()`	Returns a set containing the difference between two or more sets
- `difference_update()`	Removes the items in this set that are also included in another, specified set
- `discard()`	Remove the specified item
- `intersection()`	Returns a set, that is the intersection of two other sets
- `intersection_update()`	Removes the items in this set that are not present in other, specified set(s)
- `isdisjoint()`	Returns whether two sets have a intersection or not
- `issubset()`	Returns whether another set contains this set or not
- `issuperset()`	Returns whether this set contains another set or not
- `pop()`	Removes an element from the set
- `remove()`	Removes the specified element
- `symmetric_difference()`	Returns a set with the symmetric differences of two sets
- `symmetric_difference_update()`	inserts the symmetric differences from this set and another
- `union()`	Return a set containing the union of sets
- `update()`	Update the set with the union of this set and others

[Set Methods Reference](https://www.w3schools.com/python/python_sets_methods.asp)

In [54]:
# add item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.add('Indonesia')
my_set

{24, 8.7, 'Adhang', 'Indonesia', 'Jogja'}

In [55]:
# remove item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.remove('Jogja')
my_set

{24, 8.7, 'Adhang'}

### Dictionary

## Conditions

## Looping

## Functions