<a href="https://colab.research.google.com/github/adhang/data-science-digitalskola/blob/update/04.%20Python%20Basic%20Programming/Learn_Python_Basic_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Programming
Author: Adhang Muntaha Muhammad

[GitHub](https://github.com/adhang)
[LinkedIn](https://www.linkedin.com/in/adhangmuntaha/)
___
**Contents**
- Data Types
  - Integer
  - Float
  - String
  - List
  - Tuple
  - Set
  - Dictionary
- Conditions
- Looping
- Functions

## Data Types

### Integer
Integer is used to store numeric value, without a decimal point.

In [1]:
my_int = 25
my_int

25

In [2]:
# convert to int
my_int = int(25.5)
my_int

25

In [5]:
type(my_int)

int

### Float
Float is used to store numeric value that has a deicmal place.

In [3]:
my_float = 25.5
my_float

25.5

In [6]:
# convert to float
my_float = float(25)
my_float

25.0

In [7]:
type(my_float)

float

### String
- String is used to store text data
- We can define string value with single quote ('...') or double quote ("...")

In [8]:
my_str = 'String with single quote'
my_str

'String with single quote'

In [9]:
my_str = "String with double quote"
my_str

'String with double quote'

- If the text is too long, we can use backslash (\\) to continue on new line

In [14]:
my_str = 'String string string string string \
with with with with with \
backslash backslash backslash backslash backslash'

my_str

'String string string string string with with with with with backslash backslash backslash backslash backslash'

In [17]:
# concatenate using +
str_1 = 'String'
str_2 = 'concatenate'

str_3 = str_1 + ' ' + str_2
str_3

'String concatenate'

### List
- Used to store multiple value
- Mutable, we can change list's element
- We can access list's element using index (start from 0)
- List can contain multiple data type

In [18]:
# creating blank list
my_list = []
my_list

[]

In [19]:
# creating blank list
my_list = list()
my_list

[]

In [21]:
# list with value
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [22]:
type(my_list)

list

In [23]:
# elements with different data type
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list

['Adhang', 24, 'Jogja', 8.7]

In [24]:
# access first element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[0]

'Adhang'

In [27]:
# access last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1]

8.7

In [28]:
# change the last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1] = 7.8
my_list

['Adhang', 24, 'Jogja', 7.8]

#### List Methods
- `append()`: Adds an element at the end of the list
- `clear()`: Removes all the elements from the list
- `copy()`: Returns a copy of the list
- `count()`:	Returns the number of elements with the specified value
- `extend()`:	Add the elements of a list (or any iterable), to the end of the current list
- `index()`:	Returns the index of the first element with the specified value
- `insert()`:	Adds an element at the specified position
- `pop()`:	Removes the element at the specified position
- `remove()`:	Removes the item with the specified value
- `reverse()`:	Reverses the order of the list
- `sort()`:	Sorts the list

[List Methods Reference](https://www.w3schools.com/python/python_lists_methods.asp)

In [40]:
# add list's element
my_list = [1, 2]
my_list.append(3)
my_list.append(4)
my_list

[1, 2, 3, 4]

In [42]:
# clear list's element
my_list = [1, 2, 3, 4]
my_list.clear()
my_list

[]

### Tuple
- Used to store multiple value
- Immutable, we can't change tuple's element
- We can access tuple's element using index (start from 0)
- Tuple can contain multiple data type

In [39]:
# creating blank tuple
my_tuple = ()
my_tuple

()

In [31]:
# creating blank tuple
my_tuple = tuple()
my_tuple

()

In [32]:
# tuple with value
my_tuple = (1, 2, 3, 4)
my_tuple

(1, 2, 3, 4)

In [33]:
type(my_tuple)

tuple

In [34]:
# elements with different data type
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple

('Adhang', 24, 'Jogja', 8.7)

In [35]:
# access first element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[0]

'Adhang'

In [36]:
# access last element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1]

8.7

In [37]:
# changing list's element will cause error
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1] = 7.8
my_tuple

TypeError: ignored

#### Tuple Methods

- `count()`:	Returns the number of times a specified value occurs in a tuple
- `index()`:	Searches the tuple for a specified value and returns the position of where it was found

[Tuple Methods Reference](https://www.w3schools.com/python/python_tuples_methods.asp)

In [45]:
# count specified item in tuple
my_tuple = (1, 2, 3, 1, 1, 2)
my_tuple.count(1)

3

### Set
- Used to store multiple value, but with distinct value (unique)
- Immutable, we can't change set's element. But, we can add new item to set or remove item from set
- Unordered, so we can't access set's element using index
- Set can contain multiple data type

In [46]:
# creating blank set
my_set = set()
my_set

set()

In [47]:
# set with value
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [50]:
# set with value
my_set = set([1, 2, 3, 4])
my_set

{1, 2, 3, 4}

In [51]:
type(my_set)

set

In [53]:
# elements with different data type
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set
# the result order is not the same as the definition order

{24, 8.7, 'Adhang', 'Jogja'}

#### Set Methods
- `add()`	Adds an element to the set
- `clear()`	Removes all the elements from the set
- `copy()`	Returns a copy of the set
- `difference()`	Returns a set containing the difference between two or more sets
- `difference_update()`	Removes the items in this set that are also included in another, specified set
- `discard()`	Remove the specified item
- `intersection()`	Returns a set, that is the intersection of two other sets
- `intersection_update()`	Removes the items in this set that are not present in other, specified set(s)
- `isdisjoint()`	Returns whether two sets have a intersection or not
- `issubset()`	Returns whether another set contains this set or not
- `issuperset()`	Returns whether this set contains another set or not
- `pop()`	Removes an element from the set
- `remove()`	Removes the specified element
- `symmetric_difference()`	Returns a set with the symmetric differences of two sets
- `symmetric_difference_update()`	inserts the symmetric differences from this set and another
- `union()`	Return a set containing the union of sets
- `update()`	Update the set with the union of this set and others

[Set Methods Reference](https://www.w3schools.com/python/python_sets_methods.asp)

In [54]:
# add item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.add('Indonesia')
my_set

{24, 8.7, 'Adhang', 'Indonesia', 'Jogja'}

In [55]:
# remove item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.remove('Jogja')
my_set

{24, 8.7, 'Adhang'}

### Dictionary
- Used to store multiple value, but with key-value pair
- Mutable, we can change dictionary's element
- We can access dictionary's element using key
- Dictionary can contain multiple data type

In [56]:
# creating blank dictionary
my_dict = {}
my_dict

{}

In [58]:
# creating blank dictionary
my_dict = dict()
my_dict

{}

In [61]:
# dictionary with value
my_dict = {'name':'Adhang',
           'city':'Jogja'}
my_dict

{'city': 'Jogja', 'name': 'Adhang'}

In [63]:
# dictionary with value
my_dict = dict(name='Adhang',
               city='Jogja')
my_dict

{'city': 'Jogja', 'name': 'Adhang'}

In [64]:
type(my_dict)

dict

In [65]:
# elements with different data type
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
my_dict

{'age': 24, 'city': 'Jogja', 'name': 'Adhang', 'score': 8.7}

In [66]:
# access dictionary
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
           
my_dict['name']

'Adhang'

In [67]:
# change dictionary value
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
           
my_dict['score'] = 7.8
my_dict

{'age': 24, 'city': 'Jogja', 'name': 'Adhang', 'score': 7.8}

#### Dictionary Methods

- `clear()`:	Removes all the elements from the dictionary
- `copy()`:	Returns a copy of the dictionary
- `fromkeys()`:	Returns a dictionary with the specified keys and value
- `get()`:	Returns the value of the specified key
- `items()`:	Returns a list containing a tuple for each key value pair
- `keys()`:	Returns a list containing the dictionary's keys
- `pop()`:	Removes the element with the specified key
- `popitem()`:	Removes the last inserted key-value pair
- `setdefault()`:	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- `update()`:	Updates the dictionary with the specified key-value pairs
- `values()`:	Returns a list of all the values in the dictionary

[Dictionary Methods Reference](https://www.w3schools.com/python/python_dictionaries_methods.asp)

In [68]:
# clear dictionary's elements
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}

my_dict.clear()
my_dict

{}

In [69]:
# get value from specified key
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}

my_dict.get('name')

'Adhang'

## Branching

Branching is used to run a block of code when a condition is met

### IF Statement
Syntax of `if` statement:

```
if expressions:
  statements
```

Where `expressions` are representation of value (`True` or `False`) and `statements` are some action.

In [71]:
age = 25

if age > 21:
  print('adult')

adult

In [72]:
city = 'Jogja'

if city == 'Jogja':
  print('I live in Jogja!')

I live in Jogja!

### ELSE Statement
If the condition in `if` statement is not satisfied, or we can say if the expressions is `False`, then the `else` statement is executed.
<br><br>
Syntax of `else` statement:

```
if expressions:
  statements
else:
  statements
```

In [74]:
age = 18

if age > 21:
  print('adult')
else:
  print('young')

young

In [75]:
city = 'Jakarta'

if city == 'Jogja':
  print('I live in Jogja!')
else:
  print('I am not living in Jogja')

I am not living in Jogja

### ELIF Statement
What if the first condition is not met, but we want to check again using the second condition? We can use `elif` statement to do this kind of situation.
<br><br>
Syntax of `elif` statement

```
if expressions:
  statements
elif expressions:
  statements
else:
  statements
```

In [76]:
age = 18

if age > 21:
  print('adult')
elif age > 12:
  print('young')
else:
  print('child')

young

In [77]:
city = 'Bandung'

if city == 'Jogja':
  print('I live in Jogja!')
elif city == 'Jakarta':
  print('I live in Jakarta!')
else:
  print('I am not living in Jogja or Jakarta')

I am not living in Jogja or Jakarta

### Nested IF Statement
What if our condition is met, but we want to do some checking again with more specific condition? We can use nested `if` statement to do `if` inside another `if` statement.
<br><br>
Example syntax of nested `if` statement

```
if expressions:
  statements
  if expressions:
    statements
  else:
    statements
else:
  statements
```

It doesn't matter how we make our nested `if` statements, so it doesn't have an exact syntax template

In [78]:
age = 18
city = 'Jogja'

if city == 'Jogja':
  if age > 21:
    print('I am an adult who lives in Jogja')
  else:
    print('I am a young man who lives in Jogja')
else:
  if age > 21:
    print('I am an adult, but not living in Jogja')
  else:
    print('I am a young man, but not living in Jogja')

I am a young man who lives in Jogja

### Combining Conditions
We can use logical operator to combine multiple conditions. For best practice, use parentheses to group an expression.
<br><br>
Rule of thumb:
- `and` operator will return `True` if all the operand are `True`
- `or` operator will return `True` if some or all the operand are `True`

In [83]:
age = 18
city = 'Jakarta'

if (city == 'Jogja') and (age > 21):
    print('I am an adult who lives in Jogja')
elif (city == 'Jogja') and (age < 21):
    print('I am a young man who lives in Jogja')
elif (city != 'Jogja') and (age > 21):
    print('I am an adult, but not living in Jogja')
elif (city != 'Jogja') and (age < 21):
    print('I am a young man, but not living in Jogja')

I am a young man, but not living in Jogja

### MATCH - CASE Statement
On Python 3.10 or newer, we can use `match-case` statement. It's like `switch-case` on some other programming language.
<br><br>
Syntax of `match-case` statement:

```
match subject:
  case pattern_1:
    statements
  case pattern_2:
    statements
  ...
  case pattern_n:
    statements
  case _:
    statements
```

- `subject` is an object that will be evaluated using some pattern
- `pattern` is a matching parameter
- statement in `case _` is executed if all the `patterns` didn't match with the `subject`

In [80]:
import sys; print(sys.version)
# python version on Google Colab is not met the requirements
# so, I can't demonstrate this

3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]

### Usage of Branching
If we want to use `if` statement for branching our program, the are some rules:
- `if` is mandatory
- `elif` is optional
- `else` is optional, even if we use `elif` statement

## Looping

Looping is used to run a block of code repeatedly, until the stopping condition is met.

### FOR Loop
`for` loop is used to run a block of code where the number of iterations is exact/ explicit.
<br><br>
Syntax of `for` loop:

```
for var in iterable:
  statements
```
- `var` is variable(s) name to store the iterator
- `iterable` is an object that can be used like sequence, the element can be access one by one. For example: string, list, tuple, set, dictionary

In [85]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [89]:
my_list = [90, 80, 85, 85]

for score in my_list:
  print('my score is', score)

my score is 90
my score is 80
my score is 85
my score is 85

### WHILE Loop

`while` loop is used to run a block of code where the number of iterations is not exact/ explicit. The looping will continue until the stopping condition is met.
<br><br>
Syntax of `while` loop:
```
while expressions:
  statements
```

In [97]:
num = 1

while num < 100:
  print(num)
  num += num

1
2
4
8
16
32
64

### Nested Loop
Nested loop is used to do looping inside another looping.
<br><br>
Example syntax of nested loop:

```
# for inside for
for var_1 in iterable_1:
  statements
  for var_2 in iterable_2:
    statements

# for inside while
while expressions:
  statements
  for var in iterable:
    statements
```

We can use any combination of looping, it's determined by our need or cases.

In [102]:
for i in range(0,5):
  for x in range(0,i):
    print('*', end='')
  print()

*
**
***
****

### Usage of Looping
- In some cases, looping using `for` can be done using `while`, and vice versa.
- But in some cases, looping using `for` can't be done using `while`, and vice versa.
- Make sure to make the stopping condition, especially on `while` loop. Otherwise, the looping will run forever.

## Functions