<a href="https://colab.research.google.com/github/adhang/data-science-digitalskola/blob/update/04.%20Python%20Basic%20Programming/Learn%20-%20Python%20Basic%20Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Programming
Author: Adhang Muntaha Muhammad

[GitHub](https://github.com/adhang)
[LinkedIn](https://www.linkedin.com/in/adhangmuntaha/)
___
**Contents**
- Data Types
  - Integer
  - Float
  - String
  - List
  - Tuple
  - Set
  - Dictionary
- Conditions
- Looping
- Functions

# Data Types

## Integer
Integer is used to store numeric value, without a decimal point.

In [ ]:
my_int = 25
my_int

25

In [ ]:
# convert to int
my_int = int(25.5)
my_int

25

In [ ]:
type(my_int)

int

## Float
Float is used to store numeric value that has a deicmal place.

In [ ]:
my_float = 25.5
my_float

25.5

In [ ]:
# convert to float
my_float = float(25)
my_float

25.0

In [ ]:
type(my_float)

float

## String
- String is used to store text data
- We can define string value with single quote ('...') or double quote ("...")

In [ ]:
my_str = 'String with single quote'
my_str

'String with single quote'

In [ ]:
my_str = "String with double quote"
my_str

'String with double quote'

- If the text is too long, we can use backslash (\\) to continue on new line

In [ ]:
my_str = 'String string string string string \
with with with with with \
backslash backslash backslash backslash backslash'

my_str

'String string string string string with with with with with backslash backslash backslash backslash backslash'

In [ ]:
# concatenate using +
str_1 = 'String'
str_2 = 'concatenate'

str_3 = str_1 + ' ' + str_2
str_3

'String concatenate'

## List
- Used to store multiple value
- Mutable, we can change list's element
- We can access list's element using index (start from 0)
- List can contain multiple data type

In [ ]:
# creating blank list
my_list = []
my_list

[]

In [ ]:
# creating blank list
my_list = list()
my_list

[]

In [ ]:
# list with value
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [ ]:
type(my_list)

list

In [ ]:
# elements with different data type
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list

['Adhang', 24, 'Jogja', 8.7]

In [ ]:
# access first element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[0]

'Adhang'

In [ ]:
# access last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1]

8.7

In [ ]:
# change the last element
my_list = ['Adhang', 24, 'Jogja', 8.7]
my_list[-1] = 7.8
my_list

['Adhang', 24, 'Jogja', 7.8]

### List Methods
- `append()`: Adds an element at the end of the list
- `clear()`: Removes all the elements from the list
- `copy()`: Returns a copy of the list
- `count()`:	Returns the number of elements with the specified value
- `extend()`:	Add the elements of a list (or any iterable), to the end of the current list
- `index()`:	Returns the index of the first element with the specified value
- `insert()`:	Adds an element at the specified position
- `pop()`:	Removes the element at the specified position
- `remove()`:	Removes the item with the specified value
- `reverse()`:	Reverses the order of the list
- `sort()`:	Sorts the list

[List Methods Reference](https://www.w3schools.com/python/python_lists_methods.asp)

In [ ]:
# add list's element
my_list = [1, 2]
my_list.append(3)
my_list.append(4)
my_list

[1, 2, 3, 4]

In [ ]:
# clear list's element
my_list = [1, 2, 3, 4]
my_list.clear()
my_list

[]

## Tuple
- Used to store multiple value
- Immutable, we can't change tuple's element
- We can access tuple's element using index (start from 0)
- Tuple can contain multiple data type

In [ ]:
# creating blank tuple
my_tuple = ()
my_tuple

()

In [ ]:
# creating blank tuple
my_tuple = tuple()
my_tuple

()

In [ ]:
# tuple with value
my_tuple = (1, 2, 3, 4)
my_tuple

(1, 2, 3, 4)

In [ ]:
type(my_tuple)

tuple

In [ ]:
# elements with different data type
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple

('Adhang', 24, 'Jogja', 8.7)

In [ ]:
# access first element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[0]

'Adhang'

In [ ]:
# access last element
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1]

8.7

In [ ]:
# changing list's element will cause error
my_tuple = ('Adhang', 24, 'Jogja', 8.7)
my_tuple[-1] = 7.8
my_tuple

TypeError: ignored

### Tuple Methods

- `count()`:	Returns the number of times a specified value occurs in a tuple
- `index()`:	Searches the tuple for a specified value and returns the position of where it was found

[Tuple Methods Reference](https://www.w3schools.com/python/python_tuples_methods.asp)

In [ ]:
# count specified item in tuple
my_tuple = (1, 2, 3, 1, 1, 2)
my_tuple.count(1)

3

## Set
- Used to store multiple value, but with distinct value (unique)
- Immutable, we can't change set's element. But, we can add new item to set or remove item from set
- Unordered, so we can't access set's element using index
- Set can contain multiple data type

In [ ]:
# creating blank set
my_set = set()
my_set

set()

In [ ]:
# set with value
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [ ]:
# set with value
my_set = set([1, 2, 3, 4])
my_set

{1, 2, 3, 4}

In [ ]:
type(my_set)

set

In [ ]:
# elements with different data type
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set
# the result order is not the same as the definition order

{24, 8.7, 'Adhang', 'Jogja'}

### Set Methods
- `add()`	Adds an element to the set
- `clear()`	Removes all the elements from the set
- `copy()`	Returns a copy of the set
- `difference()`	Returns a set containing the difference between two or more sets
- `difference_update()`	Removes the items in this set that are also included in another, specified set
- `discard()`	Remove the specified item
- `intersection()`	Returns a set, that is the intersection of two other sets
- `intersection_update()`	Removes the items in this set that are not present in other, specified set(s)
- `isdisjoint()`	Returns whether two sets have a intersection or not
- `issubset()`	Returns whether another set contains this set or not
- `issuperset()`	Returns whether this set contains another set or not
- `pop()`	Removes an element from the set
- `remove()`	Removes the specified element
- `symmetric_difference()`	Returns a set with the symmetric differences of two sets
- `symmetric_difference_update()`	inserts the symmetric differences from this set and another
- `union()`	Return a set containing the union of sets
- `update()`	Update the set with the union of this set and others

[Set Methods Reference](https://www.w3schools.com/python/python_sets_methods.asp)

In [ ]:
# add item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.add('Indonesia')
my_set

{24, 8.7, 'Adhang', 'Indonesia', 'Jogja'}

In [ ]:
# remove item
my_set = {'Adhang', 24, 'Jogja', 8.7}
my_set.remove('Jogja')
my_set

{24, 8.7, 'Adhang'}

## Dictionary
- Used to store multiple value, but with key-value pair
- Mutable, we can change dictionary's element
- We can access dictionary's element using key
- Dictionary can contain multiple data type

In [ ]:
# creating blank dictionary
my_dict = {}
my_dict

{}

In [ ]:
# creating blank dictionary
my_dict = dict()
my_dict

{}

In [ ]:
# dictionary with value
my_dict = {'name':'Adhang',
           'city':'Jogja'}
my_dict

{'city': 'Jogja', 'name': 'Adhang'}

In [ ]:
# dictionary with value
my_dict = dict(name='Adhang',
               city='Jogja')
my_dict

{'city': 'Jogja', 'name': 'Adhang'}

In [ ]:
type(my_dict)

dict

In [ ]:
# elements with different data type
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
my_dict

{'age': 24, 'city': 'Jogja', 'name': 'Adhang', 'score': 8.7}

In [ ]:
# access dictionary
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
           
my_dict['name']

'Adhang'

In [ ]:
# change dictionary value
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}
           
my_dict['score'] = 7.8
my_dict

{'age': 24, 'city': 'Jogja', 'name': 'Adhang', 'score': 7.8}

### Dictionary Methods

- `clear()`:	Removes all the elements from the dictionary
- `copy()`:	Returns a copy of the dictionary
- `fromkeys()`:	Returns a dictionary with the specified keys and value
- `get()`:	Returns the value of the specified key
- `items()`:	Returns a list containing a tuple for each key value pair
- `keys()`:	Returns a list containing the dictionary's keys
- `pop()`:	Removes the element with the specified key
- `popitem()`:	Removes the last inserted key-value pair
- `setdefault()`:	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- `update()`:	Updates the dictionary with the specified key-value pairs
- `values()`:	Returns a list of all the values in the dictionary

[Dictionary Methods Reference](https://www.w3schools.com/python/python_dictionaries_methods.asp)

In [ ]:
# clear dictionary's elements
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}

my_dict.clear()
my_dict

{}

In [ ]:
# get value from specified key
my_dict = {'name':'Adhang',
           'age':24,
           'city':'Jogja',
           'score':8.7}

my_dict.get('name')

'Adhang'

# Branching

Branching is used to run a block of code when a condition is met

## IF Statement
Syntax of `if` statement:

```
if expressions:
  statements
```

Where `expressions` are representation of value (`True` or `False`) and `statements` are some action.

In [ ]:
age = 25

if age > 21:
  print('adult')

adult

In [ ]:
city = 'Jogja'

if city == 'Jogja':
  print('I live in Jogja!')

I live in Jogja!

## ELSE Statement
If the condition in `if` statement is not satisfied, or we can say if the expressions is `False`, then the `else` statement is executed.
<br><br>
Syntax of `else` statement:

```
if expressions:
  statements
else:
  statements
```

In [ ]:
age = 18

if age > 21:
  print('adult')
else:
  print('young')

young

In [ ]:
city = 'Jakarta'

if city == 'Jogja':
  print('I live in Jogja!')
else:
  print('I am not living in Jogja')

I am not living in Jogja

## ELIF Statement
What if the first condition is not met, but we want to check again using the second condition? We can use `elif` statement to do this kind of situation.
<br><br>
Syntax of `elif` statement

```
if expressions:
  statements
elif expressions:
  statements
else:
  statements
```

In [ ]:
age = 18

if age > 21:
  print('adult')
elif age > 12:
  print('young')
else:
  print('child')

young

In [ ]:
city = 'Bandung'

if city == 'Jogja':
  print('I live in Jogja!')
elif city == 'Jakarta':
  print('I live in Jakarta!')
else:
  print('I am not living in Jogja or Jakarta')

I am not living in Jogja or Jakarta

## Nested IF Statement
What if our condition is met, but we want to do some checking again with more specific condition? We can use nested `if` statement to do `if` inside another `if` statement.
<br><br>
Example syntax of nested `if` statement

```
if expressions:
  statements
  if expressions:
    statements
  else:
    statements
else:
  statements
```

It doesn't matter how we make our nested `if` statements, so it doesn't have an exact syntax template

In [ ]:
age = 18
city = 'Jogja'

if city == 'Jogja':
  if age > 21:
    print('I am an adult who lives in Jogja')
  else:
    print('I am a young man who lives in Jogja')
else:
  if age > 21:
    print('I am an adult, but not living in Jogja')
  else:
    print('I am a young man, but not living in Jogja')

I am a young man who lives in Jogja

## Combining Conditions
We can use logical operator to combine multiple conditions. For best practice, use parentheses to group an expression.
<br><br>
Rule of thumb:
- `and` operator will return `True` if all the operand are `True`
- `or` operator will return `True` if some or all the operand are `True`

In [ ]:
age = 18
city = 'Jakarta'

if (city == 'Jogja') and (age > 21):
    print('I am an adult who lives in Jogja')
elif (city == 'Jogja') and (age < 21):
    print('I am a young man who lives in Jogja')
elif (city != 'Jogja') and (age > 21):
    print('I am an adult, but not living in Jogja')
elif (city != 'Jogja') and (age < 21):
    print('I am a young man, but not living in Jogja')

I am a young man, but not living in Jogja

## MATCH - CASE Statement
On Python 3.10 or newer, we can use `match-case` statement. It's like `switch-case` on some other programming language.
<br><br>
Syntax of `match-case` statement:

```
match subject:
  case pattern_1:
    statements
  case pattern_2:
    statements
  ...
  case pattern_n:
    statements
  case _:
    statements
```

- `subject` is an object that will be evaluated using some pattern
- `pattern` is a matching parameter
- statement in `case _` is executed if all the `patterns` didn't match with the `subject`

In [ ]:
import sys; print(sys.version)
# python version on Google Colab is not met the requirements
# so, I can't demonstrate this

3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]

## Usage of Branching
If we want to use `if` statement for branching our program, the are some rules:
- `if` is mandatory
- `elif` is optional
- `else` is optional, even if we use `elif` statement

# Looping

Looping is used to run a block of code repeatedly, until the stopping condition is met.

## FOR Loop
`for` loop is used to run a block of code where the number of iterations is exact/ explicit.
<br><br>
Syntax of `for` loop:

```
for var in iterable:
  statements
```
- `var` is variable(s) name to store the iterator
- `iterable` is an object that can be used like sequence, the element can be access one by one. For example: string, list, tuple, set, dictionary

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
my_list = [90, 80, 85, 85]

for score in my_list:
  print('my score is', score)

my score is 90
my score is 80
my score is 85
my score is 85

## WHILE Loop

`while` loop is used to run a block of code where the number of iterations is not exact/ explicit. The looping will continue until the stopping condition is met.
<br><br>
Syntax of `while` loop:
```
while expressions:
  statements
```

In [ ]:
num = 1

while num < 100:
  print(num)
  num += num

1
2
4
8
16
32
64

## Nested Loop
Nested loop is used to do looping inside another looping.
<br><br>
Example syntax of nested loop:

```
# for inside for
for var_1 in iterable_1:
  statements
  for var_2 in iterable_2:
    statements

# for inside while
while expressions:
  statements
  for var in iterable:
    statements
```

We can use any combination of looping, it's determined by our need or cases.

In [ ]:
for i in range(0,5):
  for x in range(0,i):
    print('*', end='')
  print()

*
**
***
****

## Usage of Looping
- In some cases, looping using `for` can be done using `while`, and vice versa.
- But in some cases, looping using `for` can't be done using `while`, and vice versa.
- Make sure to make the stopping condition, especially on `while` loop. Otherwise, the looping will run forever.

# Functions
Function is very useful to make our program become DRY, not WET. DRY means "Don't Repeat Yourself", and WET means "Write Everything Twice".
<br><br>
Imagine if we have a very long mathematic formula, and it's often used in our programs. Of course, it's tiring to have to rewrite all the formulas every time we need to do a calculation, right?
<br><br>
That's where function shines. We just need to write the formula once (using a function). Then we can call it repeatedly just by writing the name of the function and its arguments.

## Creating Function

Syntax for defining function:

```
def function_name():
  statements
```

Note that when we define our function, we need `def` keyword, parentheses, colon, and don't forget to give indentation.

In [ ]:
def hello_world():
  print('Hello World!')

How to use that function? Just write its name!

In [ ]:
hello_world()

Hello World!

When we call the function, don't forget to write the parentheses.

## Arguments
An argument is value that sent to function when it's called. Function in Python can have no argument or have as many arguments as we want.

In [ ]:
def add(x, y):
  print(x + y)

add(97, 19)
add(1.4, 10.25)

116
11.65

## Arguments or Parameters?
The two terms are basically the same: values that act as function's input.

From a function's perspective:
- A parameter is the variable listed inside the parentheses in the function definition.
```
def function_name(this_is_parameter):
    statements
```
- An argument is the value that is sent to the function when it is called.
```
function_name(this_is_argument)
```

## Positional Arguments
The number and position of the arguments (when calling the function) must match the paramters in the function definition.

In [ ]:
def print_age(name, age):
  if age < 21:
    print(name, 'is young')
  else:
    print(name, 'is adult')

In [ ]:
# we sent 'name' followed by 'age'
print_age('Adhang', 18)

Adhang is young

In [ ]:
# what if we change the argument order?
print_age(18, 'Adhang')

TypeError: ignored

It causes error because the arguments didn't match. In some cases, the function will still run. But it might make the result wrong.

In [ ]:
def subtract(x, y):
  print(x/y)

In [ ]:
# we want to subtract 10 by 5
subtract(10, 5)

2.0

In [ ]:
# we want to subtract 10 by 5
subtract(5, 10)

0.5

As you can see, even if we change the position of arguments, the function still run. But the result is not right. On the second function call, we want to subtract 10 by 5, but the output is 0.5.

## Default Arguments
Default arguments are the default value of parameter. Default arguments are used if we call the function without including the arguments (that have default value).

In [ ]:
def print_power(val, pow=2):
  print(val ** pow)

In [ ]:
# calculate 5 ^ 3
print_power(5, 3)

125

In [ ]:
# without 'pow' argument
print_power(5)

25

The result is 25 because the default value of `pow` is 2. So, 5 ^ 2 = 25.

When we want to use default arguments, make sure that the default arguments must be placed behind (follow) non-default arguments. Let's take a look

In [ ]:
def print_power(pow=2, val):
  print(val ** pow)

SyntaxError: ignored

If we put default arguments in front of non-default arguments, it will raise `SyntaxError: non-default argument follows default argument`

## Arbitrary Arguments
- The number of arguments when calling the function does not have to match the number of parameters in the function

- Indicated by an asterisk symbol (*) in front of the parameter name

- Function will take the arguments as a tuple

In [ ]:
def print_sum(*args):
  total = 0
  
  for i in args:
    total += i
  
  print(total)

In [ ]:
# sent 3 values
print_sum(1, 2, 3)

<class 'tuple'>
6

In [ ]:
# sent 5 values
print_sum(1, 2, 3, 4, 5)

15

Let's see the data type of the arguments

In [ ]:
def print_args(*args):
  print(type(args))

print_args(1, 2, 3)

<class 'tuple'>

## Keyword Arguments
- Arguments are written in the form of `key = value`
- `key` is a parameter name inside function definition
- `value` is a value that will be assigned to specific parameter
- With the keyword arguments, the position of the arguments doesn't have to match the position of parameters in the function definition

Let's use the same function to demonstrate this concept.

In [ ]:
def print_age(name, age):
  if age < 21:
    print(name, 'is young')
  else:
    print(name, 'is adult')

In [ ]:
# 'name' followed by 'age'
print_age(name='Adhang', age=18)

Adhang is young

In [ ]:
# 'age' followed by 'name'
print_age(age=18, name='Adhang')

Adhang is young

See? There's no error even if we change the position of the arguments.

## Arbitrary Keyword Arguments
- Arguments are written in the form of `key = value`
- The number of arguments when calling the function does not have to match the number of parameters in the function
- Indicated by double asterisk symbol (**) in front of the parameter name
- Function will take the arguments as a dictionary

I will try to use the same function to make it easier to understand.

In [ ]:
def print_age(**kwargs):
  if kwargs['age'] < 21:
    print(kwargs['name'], 'is young')
  else:
    print(kwargs['name'], 'is adult')

In [ ]:
# 'name' followed by 'age'
print_age(name='Adhang', age=18)

Adhang is young

In [ ]:
# 'age' followed by 'name'
print_age(age=18, name='Adhang')

Adhang is young

## Variable Scope
Scope is a region inside our code. Variable scope means, a variable is only available from inside the region it is created.

### Local Variable
- Local variable is a variable created inside a function, and can only be used in that function
- If a local variable is called outside its scope, an error will occur

In [ ]:
def print_area(width, length):
  area = width * length
  print('Calculated area:', area)

In [ ]:
print_area(5, 4)

Calculated area: 20

Because we have run the code, we can say that `area` variable inside `print_area()` function has been assigned with some value. Can we call it outside the function?

In [ ]:
print('Calculated area:', area)

NameError: ignored

It raises `NameError: name 'area' is not defined` because we haven't defined any variable named `area`. Variable named `area` only exists inside the function, and we can't call it outside the function. It's what we called local variable.

### Global Variable
Global variable is a variable created in the main code, and can be call it anywhere

In [ ]:
def print_area():
  area = width * length
  print('Calculated area:', area)

width = 5
length = 4

print_area()

Calculated area: 20

`width` and `length` are global variable, so we can call it anywhere, even inside a function.

### Global Keyword
We can change a local variable to a global variable using `global` keyword.

In [ ]:
def print_area(width, length):
  global area
  area = width * length
  print('Calculated area:', area)

In [ ]:
print_area(5, 4)

Calculated area: 20

Because we have run the code, we can say that `area` variable inside `print_area()` function has been assigned with some value. Can we call it outside the function?

In [ ]:
print('Calculated area:', area)

Calculated area: 20

Yes, we can! That because we have defined `area` variable to be a global variable.

## Return Value
In all the example above, I do some calculation or simple algorithm. After the result has been obtained, I always print the result to the screen.
<br><br>
Instead of printing it to the screen, can we save the result value to a variable?
<br><br>
In the latest code, I can use `global` keyword to get local variable. But it will be inconvenient because we always get the result in a same variable name.
<br><br>
To solve this problem, we can use return value. Let's compare the two functions below.

In [ ]:
# without return value
# we have to make a local variable to be a global variable
def print_area(width, length):
  area = width * length

print_area(10, 25)
print('Calculated area:', area)

Calculated area: 250

In [ ]:
# with return value
def print_area(width, length):
  area = width * length
  return area

calculated_area = print_area(10, 25)
print('Calculated area:', calculated_area)

Calculated area: 250

With return value, we can save our final result from function to somewhere else. And then, we can use it for something else, such as another calculation algorithm or anything you want.

## Lambda Function
I call it as 'small function'. Because this function is very concise, and written in one line.
<br><br>
For definition matter: Lambda function is a function that can accept multiple arguments, but only has one expression.
<br><br>
Syntax for defining lamda function
- Without function name
```
  (lambda arguments: expression)(argument_values)
```
- With function name, we can call it like a regular function
```
  function_name = lambda arguments: expression
```
And it's equivalent to this regular function
```
  def function_name(arguments):
    return expression
```

In [ ]:
# without function name
(lambda x: x ** 2)(8)

64

The above function is used to calculate squared value of an argument. The argument value is 8, and assigned to `x`. So, the function will return 64, since 8^2 = 64.

In [ ]:
# with function name
square = lambda x: x ** 2
square(8)

64

The above function has the same calculation, but with function name. And of course, we can call that function on somewhere else.

In [ ]:
print('5 ^ 2 =', square(5))
print('6 ^ 2 =', square(6))
print('7 ^ 2 =', square(7))

5 ^ 2 = 25
6 ^ 2 = 36
7 ^ 2 = 49